* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    position: relative;
    width: 1234px;
    height: 615px;
    display: flex;
    background: #ffffff;
    box-shadow: 0 0 5px #999999;
}

.login .col-left,
.login .col-right {
    padding: 30px;
    display: flex;
}

.login .col-left {
    width: 60%;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background: #6b63ffb0;
}

.login .col-right {
    padding: 60px 30px;
    width: 50%;
    margin-top: 10%;
    margin-left: -7%;
}

.login .login-text {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.login .login-text h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
}

.login .login-text p {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.login .login-text .btn {
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 30px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}

.login .login-form {
    position: relative;
    width: 100%;
}

.login .login-form h2 {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 700;
}

.login .login-form p {
    margin: 0 0 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
}

.login .login-form p:last-child {
    margin: 0;
    padding-top: 3px;
}

.login .login-form p a {
    color: #44c7f5;
    font-size: 14px;
    text-decoration: none;
}

.login .login-form label {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    letter-spacing: .5px;
}

.login .login-form p:last-child label {
    width: 60%;
    float: left;
}

.login .login-form label span {
    color: #ff574e;
    padding-left: 2px;
}

.login .login-form input {
    display: block;
    width: 70%;
    height: 35px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
}

.login .login-form button,
.login .login-form input[type=submit] {
    display: inline-block;
    width: 70%;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #6b63ffb0;
    border: 1px solid #a4a0eeb0;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #44c7f5;
    transition: .3s;
}

.round {
    margin-bottom: 50px;
    display: inline-block;
    padding: 2px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: .3s;
}